<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.santropolroulant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Santropol Roulant test"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterEvent"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".CalanderSlots"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Confirmation_Page_MealDelivery"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Confirmation_Page"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity android:name=".Home"
            android:screenOrientation="portrait" />
        <activity android:name=".DisplayEvents"
            android:screenOrientation="portrait" />
        <activity android:name=".VolunteerOptions"
            android:screenOrientation="portrait" />
        <activity android:name=".PasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CreateAccount2"
            android:screenOrientation="portrait" />
        <activity android:name=".UserSchedule"
            android:screenOrientation="portrait" />
        <activity android:name=".CreateAccount3"
            android:screenOrientation="portrait" />
        <activity android:name=".CreateAccount"
            android:screenOrientation="portrait" />
        <activity android:name=".Login"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>