<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.santropolroulant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Santropol Roulant"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterEvent"></activity>
        <activity android:name=".CalanderSlots" />
        <activity
            android:name=".Confirmation_Page_MealDelivery"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Confirmation_Page"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Home" />
        <activity android:name=".DisplayEvents" />
        <activity android:name=".VolunteerOptions" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".UserSchedule" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>